This is the main index

<br>

<ul>
  <li>
    {{#link-to 'about'}}About{{/link-to}}
  </li>
  <li>
    {{#link-to 'projects.new'}}New Project{{/link-to}}
  </li>
  <li>
    {{#link-to 'projects'}}All Projects{{/link-to}}
  </li>
  <li>
    {{#link-to 'items.new'}}New Item{{/link-to}}
  </li>
  <li>
    {{#link-to 'items'}}All Items{{/link-to}}
  </li>
</ul>
